<script>
'use strict';
$(() => {

  const a = $('#decisions_a');
  const b = $('#decisions_b');
  const c = $('#decisions_c');
  const d = $('#decisions_d');
  const wa = $('#word_a');
  const wb = $('#word_b');
  const wc = $('#word_c');
  const wd = $('#word_d');
  const sentence = $('#sentence');
  const rhymes = $('#rhymes');
  const submit = $('button#submit');

  const partial = (i) => { return i.val().trim().length != 5; };
  const checked = (i) => { return i.is(":checked"); };

  const checkbox_off_when = (element, tf) => {
    element.prop('disabled', tf);
    if (tf) { element.prop('checked', false); }
  };

  const set_state = () => {
    checkbox_off_when(wa, partial(a));
    checkbox_off_when(wb, partial(b));
    checkbox_off_when(wc, partial(c));
    checkbox_off_when(wd, partial(d));
    checkbox_off_when(sentence, !checked(wa) || !checked(wb) || !checked(wc) || !checked(wd));
    checkbox_off_when(rhymes, !checked(sentence));
    submit.prop('disabled', partial(a) || partial(b) || partial(c) || partial(d));
  };

  a.on('input', set_state);
  b.on('input', set_state);
  c.on('input', set_state);
  d.on('input', set_state);
  wa.on('input', set_state);
  wb.on('input', set_state);
  wc.on('input', set_state);
  wd.on('input', set_state);
  sentence.on('input', set_state);

  const post = (url) => {
    $('<form>', {
      method: 'post',
      action: url
    }).hide().appendTo($('body')).submit().remove();
  };

  submit.click(() => {
    const trimmed = (element) => { return element.val().trim(); }
    const params = $.param({
      level_password:"<%= @level_password %>",
      a:trimmed(a),  b:trimmed(b), c:trimmed(c), d:trimmed(d),
      wa:checked(wa), wb:checked(wb), wc:checked(wc), wd:checked(wd),
      sentence:checked(sentence),
      rhymes:checked(rhymes)
    });
    post(`/decisions_form?${params}`);
  });

  submit.prop('disabled', true);

});
</script>

<div id="heading">Decisions</div>

<div>LevelPassword: <%= @level_password %></div>

<div class="<%= @org_name %>">Org: <%= @org_name %></div>

<div class="<%= @org_name %>">Level: <%= @level %></div>

<div class="<%= @org_name %>" id="decisions">

    <div class="decision">
    A <input id="decisions_a" type="text" name="decisions_a" maxlength="5" value="">
    word? <input id="word_a" type="checkbox" name="word_a" disabled="disabled" value="">
    </div>

    <div class="decision">
    B <input id="decisions_b" type="text" name="decisions_b" maxlength="5" value="">
    word? <input id="word_b" type="checkbox" name="word_b" disabled="disabled" value="">
    </div>

    <div class="decision">
    C <input id="decisions_c" type="text" name="decisions_c" maxlength="5" value="">
    word? <input id="word_c" type="checkbox" name="word_c" disabled="disabled" value="">
    </div>

    <div class="decision">
    D <input id="decisions_d" type="text" name="decisions_d" maxlength="5" value="">
    word? <input id="word_d" type="checkbox" name="word_d" disabled="disabled" value="">
    </div>

    <div class="decision">
    sentence?<input id="sentence" type="checkbox" name="sentence" disabled="disabled" value="">
    </div>

    <div class="decision">
    rhymes?<input id="rhymes" type="checkbox" name="rhymes" disabled="disabled" value="">
    </div>

</div>

<div id="button-box">
  <button type="button" id="submit">Score</button>
</div>
